{% extends 'base.html' %}

{% block body %}
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        {% if messages %}
                            {% for message in messages %}
                                <div role="alert" class="alert alert-danger">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        {% block form %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
