{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        {% if messages %}
                            {% for message in messages %}
                                <div role="alert" class="alert alert-danger">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Login"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
